
body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	
	color: #636E75;
	font: Verdana;
	
	font-size: 32px;
	font-weight: normal;
}
h2 {
	color: #000000;
	font-size: 16px;
	
}

a, a:visited, a b {
	
	color: #38B0E3;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}




/* layout */

#language {
	color: #999;
	line-height: 17px;
}

#currency {
	
	color: #999;
	line-height: 17px;
}
#currency a {

	color: #999;
	text-decoration: none;
}
#currency a b {
	color: #000;
	text-decoration: none;
}


#header #cart .heading h4 {

	color: #333333;
	font-size: 15px;
	font-weight: bold;
}
#header #cart .heading a {
	color: #38B0E3;
	text-decoration: none;
}






#header #cart .cart td {
	
	color: #000;
}

#header #cart .cart .image img {
	
	text-align: left;
}
#header #cart .cart .name small {
	color: #666;
}



#header #cart table.total td {
	color: #000;
}




#header #welcome {
	
	color: #999999;
}

#header .links a {
	
	color: #38B0E3;
	text-decoration: none;
	font-size: 12px;
}

/* menu */

#menu ul {
	
	list-style: none;
}

#menu > ul > li:hover {
	background: #000;
}
#menu > ul > li > a {
	
	font-size: 13px;
	color: #FFF;
	line-height: 14px;
	text-decoration: none;
}


#menu > ul > li ul > li > a {
	
	text-decoration: none;
	color: #FFFFFF;
}

#menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
}
.breadcrumb {
	
	color: #CCCCCC;
}
.success, .warning, .attention, .information {
	
	color: #555555;
}

.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	
	color: #FF0000;
}
.help {
	
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
}


table.form > * > * > td {
	color: #000000;
}


table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td a {
	text-decoration: underline;
}

table.list .left {
	
	text-align: left;
}
table.list .right {
	text-align: right;
}
table.list .center {
	text-align: center;
}


.pagination .links a {
	
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
}

/* button */
a.button {
	
	text-decoration: none;
}
a.button span {
	
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
}

a.button:hover span {
	color: #FFFFFF;
}
.buttons {
	background: #FFFFFF;
}
.buttons .left {
	
	text-align: left;
}
.buttons .right {
	
	text-align: right;
}
.buttons .center {
	
	text-align: center;
}
.htabs {
	line-height: 16px;	
}
.htabs a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
}


/* box */

.box .box-heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #333;
}

/* box products */

	


.box-product .name a {
	
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
}
.box-product .price {
	
	font-weight: bold;
	color: #333333;
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
}

/* box category */

.box-category ul {
	
	list-style: none;
}


.box-category > ul > li > a {
	text-decoration: none;
	color: #333;
}

.box-category > ul > li a.active {
	font-weight: bold;
}


.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
/* content */


/* category */



.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}
/* manufacturer */

.manufacturer-heading {
	font-size: 15px;
	font-weight: bold;
}

.manufacturer-list ul {
	
	list-style: none;
}
/* product */

.product-filter .display {
	
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort {
	
	color: #333;
}
.product-filter .limit {
	
	color: #333;
}
.product-compare {
	
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}



.product-list .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
}
.product-list .description {
	
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	
	text-align: right;
	color: #333333;
	font-size: 12px;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}

.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
}

.product-grid .image img {
	padding: 3px;
}
.product-grid .name a {
	
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
}

.product-grid .price {
	
	font-weight: bold;
	color: #333333;
}
.product-grid .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}

.product-grid .wishlist a {
	color: #333333;
	text-decoration: none;
}
.product-grid .compare a {
	color: #333333;
	text-decoration: none;
}
/* Product */

.product-info .image {
	text-align: center;
}



.product-info .description {
	line-height: 20px;
	color: #4D4D4D;
}
.product-info .description span {
	color: #38B0E3;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
	
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	color: #000000;
}
.product-info .cart {
	color: #4D4D4D;
}

.product-info .cart div > span {
	
	color: #999;
}
.product-info .cart .minimum {
	
	font-size: 11px;
	color: #999;
}
.product-info .review {
	color: #4D4D4D;
}
.product-info .review > div {
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}

.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
.attribute tr td:first-child {
	
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.attribute td {
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
}

.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	color: #4D4D4D;
	text-align: center;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */


.wishlist-product thead td {
	color: #4D4D4D;
	font-weight: bold;
}
.wishlist-product thead .remove, .wishlist-product thead .image, .wishlist-product thead .cart {
	text-align: center;
}
.wishlist-product thead .name, .wishlist-product thead .model, .wishlist-product thead .stock {
	text-align: left;
}
.wishlist-product thead .quantity, .wishlist-product thead .price, .wishlist-product thead .total {
	text-align: right;
}


.wishlist-product tbody .remove, .wishlist-product tbody .image, .wishlist-product tbody .cart {
	text-align: center;
}
.wishlist-product tbody .name, .wishlist-product tbody .model, .wishlist-product tbody .stock {
	text-align: left;
}
.wishlist-product tbody .quantity, .wishlist-product tbody .price, .wishlist-product tbody .total {
	text-align: right;
}
.wishlist-product tbody .price s {
	color: #F00;
}

/* orders */

.order-list .order-status {
	
	text-align: right;
}


.order-list .order-info {
	text-align: right;
}
.order-detail {
	font-weight: bold;
}
/* returns */

.return-list .return-status {
	
	text-align: right;
}


.return-list .return-info {
	text-align: right;
}


.return-remove {
	
	text-align: center;
}

.download-list .download-status {
	
	text-align: right;
}


.download-list .download-info {
	text-align: right;
}
/* cart */


.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
}
.cart-info thead .remove, .cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model {
	text-align: left;
}
.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total {
	text-align: right;
}


.cart-info tbody .remove, .cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model {
	text-align: left;
}
.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module .cart-heading {
	font-weight: bold;
	font-size: 13px;
	color: #555555;
}


.cart-total {
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}

/* checkout */
.checkout-heading {
	font-weight: bold;
	font-size: 13px;
	color: #555555;
}
.checkout-heading a {
	
	font-weight: normal;
	text-decoration: none;
}



.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}

.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
}

/* footer */ 

#footer h3 {
	
	color: #000000;
	font-size: 14px;
}

#footer .column a {
	text-decoration: none;
	color: #000;
}
#footer .column a:hover {
	text-decoration: underline;
}

/* banner */
.banner div {
	
	text-align: center;
}

